<mat-toolbar color="primary">
  <a mat-button routerLink=""><mat-icon>shopping_bag</mat-icon> e-commerce</a>
  <span class="spacer"></span>
  <ul>
    <li><a mat-button routerLink="/products" routerLinkActive="mat-basic">Productos</a></li>
    <li><a mat-button routerLink="/add" routerLinkActive="mat-basic">Nuevo Producto</a></li>
    <li><a mat-button routerLink="/login" routerLinkActive="mat-basic">Login</a></li>
    <li><a mat-button routerLink="/register" routerLinkActive="mat-basic">Register</a></li>
  </ul>
</mat-toolbar>
