<mat-toolbar color="primary">
  <a mat-button routerLink=""><mat-icon>shopping_bag</mat-icon> e-commerce</a>
  <ul>
    <li *ngIf="isAuth && !isAdmin"><a mat-button routerLink="/fav" routerLinkActive="mat-basic"><mat-icon>account_circle</mat-icon> {{ userName }}</a></li>
    <li *ngIf="isAdmin"><a mat-button routerLink="/admin" routerLinkActive="mat-basic"><mat-icon>account_circle</mat-icon> {{ userName }}</a></li>
  </ul>
  <span class="spacer"></span>
  <ul>
    <li><a mat-button routerLink="/products" routerLinkActive="mat-basic">Productos</a></li>
    <li *ngIf="isAdmin"><a mat-button routerLink="/add" routerLinkActive="mat-basic">Nuevo Producto</a></li>
    <li *ngIf="!isAuth"><a mat-button routerLink="/login" routerLinkActive="mat-basic">Login</a></li>
    <li *ngIf="!isAuth"><a mat-button routerLink="/register" routerLinkActive="mat-basic">Register</a></li>
    <li *ngIf="isAuth">
      <a mat-stroked-button routerLinkActive="mat-warn" (click)="onLogOut()" >Cerrar Sesión</a>
    </li>
  </ul>
</mat-toolbar>
