<h1>Nuevo Producto</h1>
<form (submit)="onSubmitForm(postForm)" #postForm="ngForm">
  <mat-form-field appearance="legacy">
    <mat-label>Titulo</mat-label>
    <input matInput name="title" placeholder="Ej: Nuevo Celular 2020" ngModel title="ngModel" required>
  </mat-form-field>

  <br>

  <mat-form-field appearance="legacy">
    <mat-label>Descripción</mat-label>
    <textarea matInput name="description" placeholder="Ej: En diferentes colores" ngModel description="ngModel" required></textarea>
  </mat-form-field>

  <br>

  <mat-form-field appearance="legacy">
    <mat-label>Imagen</mat-label>
    <input matInput name="image" placeholder="https://producto.jpg" ngModel image="ngModel" required>
  </mat-form-field>

  <br>

  <mat-form-field appearance="legacy">
    <mat-label>Precio</mat-label>
    <input type="number" matInput name="price" placeholder="$ 50000" ngModel price="ngModel" required>
  </mat-form-field>

  <br>

  <button type="submit" mat-raised-button color="primary" >Agregar</button>
</form>
