<mat-form-field appearance="legacy">
  <mat-label>Titulo</mat-label>
  <input matInput name="title" placeholder="Ej: Nuevo Celular 2020" [(ngModel)]="texto" >
</mat-form-field>

<br>

<mat-form-field appearance="legacy">
  <mat-label>Descripción</mat-label>
  <textarea matInput name="description" placeholder="Ej: En diferentes colores"></textarea>
</mat-form-field>

<br>

<mat-form-field appearance="legacy">
  <mat-label>Imagen</mat-label>
  <input matInput name="imagen" placeholder="https://producto.jpg">
</mat-form-field>

<br>

<mat-form-field appearance="legacy">
  <mat-label>Precio</mat-label>
  <input type="number" matInput name="imagen" placeholder="$ 50000">
</mat-form-field>

<br>

<button mat-stroked-button color="primary" (click)="onSubmit()">Agregar</button>

<p *ngFor="let product of products">
  <product-card></product-card>
</p>
