<div class="contenedor" >
  <mat-card>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <mat-card-title>Hola Mundo xD</mat-card-title>
    <mat-card-content>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, debitis numquam eum voluptate quia et modi nesciunt tempora laboriosam cumque id, labore repellendus, possimus nostrum hic amet facere maiores necessitatibus ullam voluptatum. Ut veniam sunt animi sed repellendus consequatur ea, commodi perferendis itaque explicabo dolor possimus vero, deleniti, ipsa beatae.</mat-card-content>
  </mat-card>
</div>
