.grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 10fr);
  grid-gap: 10px;
}

.formulario {
  padding-left: 3rem;
  padding-right: 3rem;
}

.contenedor {
  width: 500px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}

form {
  margin-top: 3rem;
}

mat-form-field, input {
  width: 100%;
}

button {
  margin-top: 2rem;
  width: 40%;
}


@media all and (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
