<mat-card class="formulario">
  <h1>Registro</h1>

  <form (submit)="onSignUp(userForm)" #userForm="ngForm">
    <mat-form-field appearance="legacy">
      <mat-label>Nombre</mat-label>
      <input matInput name="name"
        placeholder="Pepito Perez"
        [ngModel]="user.name"
        #name="ngModel"
        required
      >
    </mat-form-field>

    <br>

    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input type="email" matInput name="email"
        placeholder="pepito@perez.com"
        [ngModel]="user.email"
        #email="ngModel"
        required
      >
    </mat-form-field>

    <br>

    <mat-form-field appearance="legacy">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput name="password"
        placeholder="Contraseña de Pepito"
        [ngModel]="user.password"
        #password="ngModel"
        required
      >
    </mat-form-field>
    <br><br>
    <button type="submit" mat-raised-button color="primary" >
      Crear Cuenta
    </button>
    <br><br>
  </form>
</mat-card>
